# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Python (se usarmos no backend)
__pycache__/
*.pyc

# Environment variables
.env

# IDE configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
